<%- include('includes/head.ejs') %>
  <main>
      <h1>Add new user to your list</h1>
      <form action="/add-user" method="POST">
        <label for="username">
            Username:
            <input type="text" name="username" id="username">
            <input type="submit" value="Add User">
        </label>
      </form>
  </main>
</body>
</html>